

/*==========================================*/
/*     Descriptive Color Variables          */
/*==========================================*/

$mint   :        #8ef6e4;
$orange-peel:    #ffba5a;
$skyblue:        #7ecafd;
$forest-green:   #007944;
$steel:          #4da2bb  

/*==========================================*/
/*     Media Query Breakpoints            */
/*==========================================*/

$brk-narrow: '(max-width: 768px)'; 
   



