/*==========================================*/
/*     Descriptive Color Variables          */
/*==========================================*/

$blizzard-blue   : #A3E3ED;
$blossom         : #DCB4BC;
$blue            : #0000FF;
$blue-bayoux     : #496679;
$blue-bell       : #9999CC;

/*==========================================*/
/*     Media Query Breakpoints            */
/*==========================================*/


$brk-narrow:'(min-width: 768px)';
