

/*==========================================*/
/*     Descriptive Color Variables          */
/*==========================================*/

$blizzard-blue   : #8ef6e4;
$blossom         : 
$blue            :
$blue-bayoux     :
$blue-bell       :

/*==========================================*/
/*     Media Query Breakpoints            */
/*==========================================*/


$brk-narrow:'(min-width: 768px)';


