/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #06000b;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: #2fbc9b;
}

.error {
  background-color: #438a70;
}

.info {
  background-color: $orange-peel;
}

.success {
  background-color: #2185d5;
}

.warning {
  background-color: #264e86;
}